%div.right-content
  %div.right-header
    %div.right-header__chat-space-info
      %p.right-header__chat-space-title test
      %p.right-header__chat-space-member Member : masa
    %a{ :href => '#'}
      %div.right-header__chat-space-title-edit-btn
        %p.right-header__chat-space-title-edit-text Edit
  %div.right-chat_space
    %div.right-chat_space__members-chats
      %div.right-chat_space__chats-info
        %div.right-chat_space__member-name
          %p masa
        %div.right-chat_space__remark-time
          %p 2020/5/13(Wed) 18:00:00
      %div.right-chat_space__chats
        %p.right-chat_space__message おはよう！
    %div.right-chat_space__my-chats
      %div.right-chat_space__chats-info
        %div.right-chat_space__member-name
          %p kato
        %div.right-chat_space__remark-time
          %p 2020/5/13(Wed) 21:00:00
      %div.right-chat_space__chats
        %p.right-chat_space__message おはよう！！！
  %div.right-form
    %div.right-form__input
      %form{class: "right-form__input-form"}
        %input{class: "right-form__input-form__text", placeholder: "type a message"}
        -# %textarea{ class: "right-form__input-form__text", placeholder: "type a message", id: "form_text" }
        %label{class: "right-form__input-form__image"}
          = icon('fas', 'image')
          %input{type: "file"}
      %input{class: "right-form__send-btn", type: "submit", value: "Send"}
