.right-chat_space__chats{data: {message_id: message.id}}
  .right-chat_space__chats__members
    .right-chat_space__chats__members__name
      = message.user.name
    .right-chat_space__chats__members__remark-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .right-chat_space__chats__message
    - if message.content.present?
      %p.right-chat_space__chats__message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
